body {
    margin: 0;
    background-color: #55A7DD;
}

p, a {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: white;
}

.menu {
  padding: 20px 0px;
}

.menuOption {
  padding: 0px 20px;
}
